/*html */

a{
  float: right;
  font-weight: bold;
  margin-left: 100px;
  margin-right: 0px;
}

.jumbotron{
  background: url('book.jpg') no-repeat center center; 
    background-size: cover;
    height: 680px;
    color: #fff;

}

a:hover{
color:#006600;
}
a:active{
color:#fff;
}

.carousel {
    position: relative;
}

.carousel-inner>.carousel-item.next.left,
.carousel-inner>.carousel-item.prev.right{
  transition: all 0s ease;
}


.section{
  display: block;
  overflow: hidden;
}


footer{
	display: block;
	position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333;
  text-align: center;
  margin-top: 10px;
}

.navbar-side {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  list-style: none;
  background-color: #000;
}


 .navbar-side-item {
  margin-top: 20px;
  height: 3rem;
}

.side-link {
  padding-left: 1rem;
}

.navbar-side {
    // other code omitted
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.reveal {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
